<div class="programcurriculum-discipline">
    <h3>{{curriculumname}}</h3>

    {{#hasdisciplines}}
        <table class="generaltable">
            <thead>
                <tr>
                    <th>{{#str}}disciplinename, block_programcurriculum{{/str}}</th>
                    <th>{{#str}}disciplinecode, block_programcurriculum{{/str}}</th>
                    <th>{{#str}}actions{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#disciplines}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{externalcode}}</td>
                        <td>
                            <a href="{{editurl}}">{{#str}}editdiscipline, block_programcurriculum{{/str}}</a>
                            |
                            <a href="{{mappingurl}}">{{#str}}mappings, block_programcurriculum{{/str}}</a>
                            |
                            <form class="d-inline" method="post" action="{{moveactionurl}}">
                                <label class="sr-only" for="move-{{id}}">{{#str}}moveto, block_programcurriculum{{/str}}</label>
                                <input id="move-{{id}}" name="position" type="number" min="1" max="{{totalpositions}}" value="{{position}}" class="form-control d-inline-block w-auto">
                                <button type="submit" class="btn btn-link p-0 align-baseline">{{#str}}move{{/str}}</button>
                            </form>
                            {{#candelete}}
                                |
                                <a href="{{deleteurl}}" data-confirm-message="{{deleteconfirm}}">{{#str}}delete{{/str}}</a>
                            {{/candelete}}
                        </td>
                    </tr>
                {{/disciplines}}
            </tbody>
        </table>
    {{/hasdisciplines}}

    {{^hasdisciplines}}
        <div class="alert alert-info">{{#str}}nodisciplines, block_programcurriculum{{/str}}</div>
    {{/hasdisciplines}}
</div>
