<div class="programcurriculum-mapping">
    <h3>{{#str}}mappingofcourse, block_programcurriculum, {{coursename}}{{/str}}</h3>
    <h4>{{#str}}listofmappings, block_programcurriculum{{/str}}</h4>

    {{#validationerror}}
        <div class="alert alert-danger">{{#str}}mappingformerror, block_programcurriculum{{/str}}</div>
    {{/validationerror}}

    <div class="mb-2">
        <button class="btn btn-primary" type="button" data-action="add-mapping" data-course-id="{{courseid}}" data-bs-toggle="modal" data-bs-target="#programcurriculum-mapping-modal">
            {{#str}}addmapping, block_programcurriculum{{/str}}
        </button>
        <button class="d-none" type="button" data-open-mapping-modal="1" data-bs-toggle="modal" data-bs-target="#programcurriculum-mapping-modal"></button>
    </div>

    {{#hasmappings}}
        <ul class="list-unstyled">
            {{#mappings}}
                <li class="d-flex align-items-center py-1 border-bottom">
                    <span class="flex-grow-1">{{coursename}}</span>
                    <a class="btn btn-link p-0 text-decoration-none" href="{{deleteurl}}" data-confirm-message="{{deleteconfirm}}" data-confirm-name="{{coursename}}" aria-label="{{#str}}delete{{/str}}">
                        {{#pix}}t/delete, core{{/pix}}
                    </a>
                </li>
            {{/mappings}}
        </ul>
    {{/hasmappings}}

    {{^hasmappings}}
        <div class="alert alert-info">{{#str}}nomappings, block_programcurriculum{{/str}}</div>
    {{/hasmappings}}

    <div class="modal fade" id="programcurriculum-mapping-modal" tabindex="-1" aria-labelledby="programcurriculum-mapping-modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="programcurriculum-mapping-modal-title"
                        data-add-title="{{#str}}addmapping, block_programcurriculum{{/str}}"
                        data-edit-title="{{#str}}editmapping, block_programcurriculum{{/str}}">
                        {{modaltitle}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{#str}}cancel, moodle{{/str}}"></button>
                </div>
                <div class="modal-body">
                    {{{formhtml}}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" form="programcurriculum-mapping-form">{{#str}}savechanges{{/str}}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{#str}}cancel, moodle{{/str}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
