<div class="block-programcurriculum-move">
    <label class="form-label" for="block-programcurriculum-move-input">{{#str}}moveto, block_programcurriculum{{/str}}</label>
    <input id="block-programcurriculum-move-input" type="number" min="1" max="{{max}}" value="{{current}}" class="form-control">
    <div class="form-text">{{helptext}}</div>
</div>
