<div class="programcurriculum-students">
    {{#hassubtitle}}
        <h2 class="mb-2">{{programname}}</h2>
    {{/hassubtitle}}
    <h3 class="mb-3">{{#str}}listofstudents, block_programcurriculum{{/str}}</h3>
    {{#hascurricula}}
        {{#hasstudents}}
        <ul class="list-unstyled mt-2">
        {{#students}}
            <li class="py-1 border-bottom">
                <a href="{{viewurl}}">{{fullname}}</a>
            </li>
        {{/students}}
        </ul>
        {{/hasstudents}}
        {{^hasstudents}}
        <div class="alert alert-info mt-3">{{#str}}nostudents, block_programcurriculum{{/str}}</div>
        {{/hasstudents}}
    {{/hascurricula}}

    {{^hascurricula}}
        <div class="alert alert-info">{{#str}}nocurricula, block_programcurriculum{{/str}}</div>
    {{/hascurricula}}
</div>
