<div class="programcurriculum-students">
    {{#hassubtitle}}
        <h3 class="mb-3">{{programname}} - {{externalcoursename}}</h3>
    {{/hassubtitle}}
    {{#hascurricula}}
        <form method="get" class="mb-3">
            <input type="hidden" name="courseid" value="{{courseid}}">
            <label for="curriculumid">{{#str}}choosecurriculum, block_programcurriculum{{/str}}</label>
            <select name="curriculumid" id="curriculumid" onchange="this.form.submit()">
                {{#curricula}}
                    <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/curricula}}
            </select>
        </form>

        <h5 class="mt-3">{{#str}}listofstudents, block_programcurriculum{{/str}}</h5>
        {{#hasstudents}}
        <ul class="list-unstyled mt-2">
        {{#students}}
            <li class="py-1 border-bottom">
                <a href="{{viewurl}}">{{fullname}}</a>
            </li>
        {{/students}}
        </ul>
        {{/hasstudents}}
        {{^hasstudents}}
        <div class="alert alert-info mt-3">{{#str}}nostudents, block_programcurriculum{{/str}}</div>
        {{/hasstudents}}
    {{/hascurricula}}

    {{^hascurricula}}
        <div class="alert alert-info">{{#str}}nocurricula, block_programcurriculum{{/str}}</div>
    {{/hascurricula}}
</div>
